#image1 {
         width:393.685pt;
         height:395.924pt;
}
.table0 {
         border-spacing:0;
         padding-left:6.00pt;
         padding-top:6.00pt;
         padding-right:6.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         margin-bottom:12.00pt;
         width:463.50pt;
}
.tr1 {
      height:26.00pt;
      background:#b7dbff;
}
.td2 {
      width:357.751pt;
      background:#b7dbff;
      border-top-style:solid;
      border-top-width:1px;
      border-top-color:#000000;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td3 {
      width:105.750pt;
      background:#b7dbff;
      border-top-style:solid;
      border-top-width:1px;
      border-top-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr4 {
      height:36.00pt;
}
.td5 {
      width:357.751pt;
      border-left-style:solid;
      border-left-width:1px;
      border-left-color:#000000;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.td6 {
      width:105.750pt;
      border-right-style:solid;
      border-right-width:1px;
      border-right-color:#000000;
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:#000000;
      vertical-align:top;
      padding-left:6.00pt;
      padding-top:3.00pt;
      padding-right:6.00pt;
      padding-bottom:3.00pt;
}
.tr7 {
      height:22.00pt;
}
#image2 {
         width:393.685pt;
         height:395.924pt;
}
#image3 {
         width:400.432pt;
         height:395.924pt;
}
.table8 {
         border-spacing:0;
         padding-left:3.00pt;
         padding-top:4.00pt;
         padding-right:3.00pt;
         padding-bottom:4.00pt;
         float:alignleft;
         width:468.75pt;
}
.tr9 {
      height:17.00pt;
}
.td10 {
       width:116.263pt;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td11 {
       width:352.486pt;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td12 {
       width:116.263pt;
       background:#ffffff;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
.td13 {
       width:352.486pt;
       background:#ffffff;
       border-bottom-style:solid;
       border-bottom-width:1px;
       border-bottom-color:#000000;
       vertical-align:top;
       padding-left:6.00pt;
       padding-top:3.00pt;
       padding-right:6.00pt;
       padding-bottom:3.00pt;
}
p.FM_TableFootnote {
                    margin-left:30.000pt;
                    margin-right:18.000pt;
                    text-align:left;
                    text-indent:-12.000pt;
                    margin-top:0.000pt;
                    margin-bottom:0.000pt;
                    word-spacing:0.250em;
                    font-family:"Times New Roman";
                    font-style:normal;
                    font-weight:normal;
                    font-size:10.0pt;
                    color:#000000;
                    background-color:none;
                    text-decoration:none;
                    letter-spacing:0.00em;
}
caption.FM_TableFootnote {
                          margin-left:30.000pt;
                          margin-right:18.000pt;
                          text-align:left;
                          text-indent:-12.000pt;
                          margin-top:0.000pt;
                          margin-bottom:0.000pt;
                          word-spacing:0.250em;
                          font-family:"Times New Roman";
                          font-style:normal;
                          font-weight:normal;
                          font-size:10.0pt;
                          color:#000000;
                          background-color:none;
                          text-decoration:none;
                          letter-spacing:0.00em;
}
p.CellBody {
            margin-left:0.000pt;
            margin-right:0.000pt;
            text-align:left;
            text-indent:0.000pt;
            margin-top:0.000pt;
            margin-bottom:4.000pt;
            word-spacing:0.250em;
            font-family:"Times New Roman";
            font-style:normal;
            font-weight:normal;
            font-size:9.0pt;
            color:#000000;
            letter-spacing:0.00em;
            text-decoration:none;
}
caption.CellBody {
                  margin-left:0.000pt;
                  margin-right:0.000pt;
                  text-align:left;
                  text-indent:0.000pt;
                  margin-top:0.000pt;
                  margin-bottom:4.000pt;
                  word-spacing:0.250em;
                  font-family:"Times New Roman";
                  font-style:normal;
                  font-weight:normal;
                  font-size:9.0pt;
                  color:#000000;
                  letter-spacing:0.00em;
                  text-decoration:none;
}
h2 {
    margin-left:18.000pt;
    margin-right:36.000pt;
    text-align:left;
    text-indent:0.000pt;
    margin-top:16.000pt;
    margin-bottom:0.000pt;
    word-spacing:0.250em;
    font-family:Arial;
    font-style:normal;
    font-weight:bold;
    font-size:13.0pt;
    color:#000000;
    letter-spacing:0.00em;
    text-decoration:none;
}
caption.h2 {
            margin-left:18.000pt;
            margin-right:36.000pt;
            text-align:left;
            text-indent:0.000pt;
            margin-top:16.000pt;
            margin-bottom:0.000pt;
            word-spacing:0.250em;
            font-family:Arial;
            font-style:normal;
            font-weight:bold;
            font-size:13.0pt;
            color:#000000;
            letter-spacing:0.00em;
            text-decoration:none;
}
p.Footnote {
            margin-left:12.000pt;
            margin-right:0.000pt;
            text-align:left;
            text-indent:-12.000pt;
            margin-top:3.000pt;
            margin-bottom:0.000pt;
            word-spacing:0.250em;
            font-family:"Times New Roman";
            font-style:normal;
            font-weight:normal;
            font-size:9.0pt;
            color:#000000;
            letter-spacing:0.00em;
            text-decoration:none;
}
caption.Footnote {
                  margin-left:12.000pt;
                  margin-right:0.000pt;
                  text-align:left;
                  text-indent:-12.000pt;
                  margin-top:3.000pt;
                  margin-bottom:0.000pt;
                  word-spacing:0.250em;
                  font-family:"Times New Roman";
                  font-style:normal;
                  font-weight:normal;
                  font-size:9.0pt;
                  color:#000000;
                  letter-spacing:0.00em;
                  text-decoration:none;
}
p.CellHeading {
               margin-left:0.000pt;
               margin-right:0.000pt;
               text-align:left;
               text-indent:0.000pt;
               margin-top:0.000pt;
               margin-bottom:0.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:bold;
               font-size:9.0pt;
               color:#000000;
               letter-spacing:0.00em;
               text-decoration:none;
}
caption.CellHeading {
                     margin-left:0.000pt;
                     margin-right:0.000pt;
                     text-align:left;
                     text-indent:0.000pt;
                     margin-top:0.000pt;
                     margin-bottom:0.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:bold;
                     font-size:9.0pt;
                     color:#000000;
                     letter-spacing:0.00em;
                     text-decoration:none;
}
p.FM_TableTitle {
                 margin-left:0.000pt;
                 margin-right:0.000pt;
                 text-align:center;
                 text-indent:0.000pt;
                 margin-top:0.000pt;
                 margin-bottom:0.000pt;
                 word-spacing:0.250em;
                 font-family:"Times New Roman";
                 font-style:normal;
                 font-weight:bold;
                 font-size:12.0pt;
                 color:#000000;
                 background-color:none;
                 text-decoration:none;
                 letter-spacing:0.00em;
}
caption.FM_TableTitle {
                       margin-left:0.000pt;
                       margin-right:0.000pt;
                       text-align:center;
                       text-indent:0.000pt;
                       margin-top:0.000pt;
                       margin-bottom:0.000pt;
                       word-spacing:0.250em;
                       font-family:"Times New Roman";
                       font-style:normal;
                       font-weight:bold;
                       font-size:12.0pt;
                       color:#000000;
                       background-color:none;
                       text-decoration:none;
                       letter-spacing:0.00em;
}
p.BodyLevel2 {
              margin-left:36.000pt;
              margin-right:0.000pt;
              text-align:left;
              text-indent:0.000pt;
              margin-top:8.000pt;
              margin-bottom:0.000pt;
              word-spacing:0.250em;
              color:#333300;
              letter-spacing:0.00em;
              text-decoration:none;
              font:normal 11pt Comic Sans MS;
}
caption.BodyLevel2 {
                    margin-left:36.000pt;
                    margin-right:0.000pt;
                    text-align:left;
                    text-indent:0.000pt;
                    margin-top:8.000pt;
                    margin-bottom:0.000pt;
                    word-spacing:0.250em;
                    color:#333300;
                    letter-spacing:0.00em;
                    text-decoration:none;
                    font:normal 11pt Comic Sans MS;
}
p.BodyLevel1 {
              margin-left:18.000pt;
              margin-right:0.000pt;
              text-align:left;
              text-indent:0.000pt;
              margin-top:8.000pt;
              margin-bottom:0.000pt;
              word-spacing:0.250em;
              color:gray;
              letter-spacing:0.00em;
              text-decoration:none;
              font:normal 12pt Comic Sans MS;
}
caption.BodyLevel1 {
                    margin-left:18.000pt;
                    margin-right:0.000pt;
                    text-align:left;
                    text-indent:0.000pt;
                    margin-top:8.000pt;
                    margin-bottom:0.000pt;
                    word-spacing:0.250em;
                    color:gray;
                    letter-spacing:0.00em;
                    text-decoration:none;
                    font:normal 12pt Comic Sans MS;
}
OL {
    margin-top:0px;
    margin-bottom:0px;
}
UL {
    margin-top:0px;
    margin-bottom:0px;
}
span.FM_Emphasis {
                  font-style:italic;
}
span.FM_EquationVariables {
                           font-style:italic;
}
p.FM_Numbered1 {
                margin-left:18.000pt;
                margin-right:0.000pt;
                text-align:left;
                text-indent:-18.000pt;
                margin-top:0.000pt;
                margin-bottom:0.000pt;
                word-spacing:0.250em;
                font-family:"Times New Roman";
                font-style:normal;
                font-weight:normal;
                font-size:12.0pt;
                color:#000000;
                background-color:none;
                text-decoration:none;
                letter-spacing:0.00em;
                font:11pt Comic Sans MS;
                color:#999999;
}
caption.FM_Numbered1 {
                      margin-left:18.000pt;
                      margin-right:0.000pt;
                      text-align:left;
                      text-indent:-18.000pt;
                      margin-top:0.000pt;
                      margin-bottom:0.000pt;
                      word-spacing:0.250em;
                      font-family:"Times New Roman";
                      font-style:normal;
                      font-weight:normal;
                      font-size:12.0pt;
                      color:#000000;
                      background-color:none;
                      text-decoration:none;
                      letter-spacing:0.00em;
}
p.FM_Numbered {
               margin-left:18.000pt;
               margin-right:0.000pt;
               text-align:left;
               text-indent:-18.000pt;
               margin-top:0.000pt;
               margin-bottom:0.000pt;
               word-spacing:0.250em;
               font-family:"Times New Roman";
               font-style:normal;
               font-weight:normal;
               font-size:12.0pt;
               color:#000000;
               background-color:none;
               text-decoration:none;
               letter-spacing:0.00em;
               font:11pt Comic Sans MS;
               color:gray;
}
caption.FM_Numbered {
                     margin-left:18.000pt;
                     margin-right:0.000pt;
                     text-align:left;
                     text-indent:-18.000pt;
                     margin-top:0.000pt;
                     margin-bottom:0.000pt;
                     word-spacing:0.250em;
                     font-family:"Times New Roman";
                     font-style:normal;
                     font-weight:normal;
                     font-size:12.0pt;
                     color:#000000;
                     background-color:none;
                     text-decoration:none;
                     letter-spacing:0.00em;
}
